@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fredoka One', cursive;
  background-image: linear-gradient(to right, #E22865, #37ADCD);
}
.container{
  width: 1280px;
  margin: auto;
}
#header{
  display: flex;
 flex-direction: column;
  align-items: center;
 flex-wrap: wrap;
  min-height: 70px;
  padding: 0 20px;
}
#header h2{font-size: 2rem;}
.user_input{
  margin-top: 2px;
  width: 350px;
  text-align: center;
}
.user_input input{
  width: 75%;
  outline: none;
  padding: 8px;
  border: 1px solid #d2cece;
  border-radius: 5px 0 0 5px ;
}
.user_input button{
  cursor: pointer;
  padding: 8px;
  color: black;
  transition: 1s;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 0 5px 5px 0;
}
.user-input button:hover{
  background-color: transparent;
  color: white;
}
#to_do_list{
  width: 500px;
  margin: auto;
}
.item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 2px;
  padding: 1rem;
  color: #454545;
  margin-top:10px;
  font-size: 1rem;
  background-color: white;
  border: 1px solid lightgray;
  text-transform: uppercase;
}
.item i{
  cursor: pointer;
  margin: 0 5px;
}
@media(max-width:768px){
  .container{width: 95%;}
  #header{
    padding: 20px;
    gap: 10px;
  }
  #header h2{margin: 10px 0;}
  .user_input{width: 100%;}
  #to_do_list{width: 100%;}
}
@media(max-width:480px){
  .user_input input{width: 74%;}
}
@media(max-width:320px){
  .user_input input{width: 60%;}
}



























